body {
  font-family: Helvetica;
  text-align: center;
}
.Header {
  background-image: url("./Images/Building.png");
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.header,
 p {
  font-size: 18px;
  color: white;
}
.Middle {
  color: black;

}
.Black {
  color: black;
  font-size: 14px;
}
