body {
  font-family: Helvetica;
  text-align: center;
}
.Header {
  background-image: url("./Images/Building.png");
  font-size: 18px;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.Black {
  color: black;
  font-size: 14px;
}
.bottom {
  color: black;
}
a {
  color: white;
}
.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
  font-size: 11px;
}
.Bottom p {
  font-size: 14px;
}
.Bottom .Header {
  font-size: 23px;
  font-weight: Bold;
  color: white;
}
